Flask==2.2.2
Flask-Cors==3.0.10
PyPDF2==3.0.1
reportlab==4.4.0

torch==2.7.0
transformers==4.51.3
sentence-transformers==4.1.0
huggingface-hub==0.31.1

# For production on Render/Railway
gunicorn==20.1.0
